html, body, div, button, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

@font-face {
	font-family: Product-sans;
	src: url('./assets/fonts/Product-sans/Product Sans Regular.ttf');
}
@font-face {
	font-family: Product-sans-Bold;
	src: url('./assets/fonts/Product-sans/Product Sans Bold.ttf');
}

body {
	/*font-family: Libre_Franklin , Roboto, helvetica !important;*/
}
a {
	text-decoration: none !important;
}
li {
	list-style: none !important;
}
h1,h2,h3,h4,h5,h6 {
	/*font-family: Product-sans-Bold !important;*/
}

.wrapper-head {
	background: linear-gradient(180deg, #4C38EE 0%, #543DFF 100%);
	height: 50px;
}
.side-pad {
	padding-left: 5%;
	padding-right: 5%
}
.primary-color-font {
	color: #4C38EE !important;
}
.primary-color-bg {
	background: #4C38EE !important;
}
.secondary-color-font {
	color: #3722D3 !important;
}
.secondary-color-bg {
	background: #3722D3 !important;
}
.hero {
	background: linear-gradient(126deg, #4C38EE, rgb(76 56 238 / 30%));
	padding-bottom: 4rem;
	margin-bottom: 3rem;
}
.core-values {
	margin-bottom: 4rem;
}
.core-header {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.core-header::before {
	position: absolute;
	left: 0;
	content: '';
	z-index: -1;
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-left: 50px solid #6F68E833;
	border-bottom: 70px solid transparent;
}
.core-rows {
	margin-bottom: 5rem !important;
}
.qa-sec {
	padding: 3.5% 10%;
}
.qa-sec > div > div:first-child {
	flex: 7
}
.qa-sec > div > div:last-of-type {
	flex-grow: 1;
}
.wrapper-footer {
	padding-top: 3rem;
	background: #F9FAFD;
}
.footer-form {
	height: 65px;
}

.footer-end {
	font-size: .9rem;
}